---
import Layout from "../layouts/Layout.astro";
import IconSvg from "@/components/IconSvg.astro";
import Pagination from "@/components/Pagination.astro";
import Search from "@/components/Search.astro";
import { Image } from "astro:assets";
import Default from "@/assets/images/logo_default.webp";
---

<Layout title="TopIT">
  <Search />
  <div class="mx-auto max-w-[1220px] mt-8 flex flex-col items-center">
    <h2 class="text-2xl font-extrabold leading-none tracking-tight">
      Công cụ tốt nhất cho hành trang ứng tuyển của bạn
    </h2>
    <div class="grid grid-cols-2 gap-12 mt-6">
      <div class="flex items-center gap-4">
        <IconSvg icon="user" />
        <div class="flex flex-col gap-2">
          <span class="text-[#000]">Hồ sơ cá nhân</span>
          <span class="text-[#000]"
            >Kiến tạo hồ sơ ITviec với cấu trúc chuẩn mực cùng các gợi ý chi
            tiết</span
          >
          <button class="btn btn-accent w-1/3">Cập nhật hồ sơ</button>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <IconSvg icon="blog" />
        <div class="flex flex-col gap-2">
          <span class="text-[#000]">Blog về IT</span>
          <span class="text-[#000]"
            >Cập nhật thông tin lương thưởng, nghề nghiệp và kiến thức ngành IT</span
          >
          <button class="btn btn-accent w-1/3">Khám phá blog</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-[1220px] mt-8 flex flex-col items-center">
    <div class="grid grid-cols-3 gap-4 w-full">
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test test test test test test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
      <div class="bg-[#fff] rounded p-3">
        <div class="flex">
          <Image src={Default} alt="default" />
          <div class="min-h-11 overflow-hidden whitespace-nowrap flex-grow">
            <h3>test</h3>
            <a href="">test</a>
            <a href="">test</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-[1220px] mt-8 flex justify-center">
    <Pagination />
  </div>
</Layout>
