---
import { Image } from "astro:assets";
import Default from "@/assets/images/logo_default.webp";

interface IData {
  id: number;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
---

<div class="bg-[#fff] rounded p-3">
  <div class="flex">
    <Image src={Default} alt="default" />
    <div class="min-h-full overflow-hidden flex-grow text-ellipsis">
      <a href=`/job/${id}` class="block">{title}</a>
      <a href=`/job/${id}` class="line-clamp-5">{description}</a>
    </div>
  </div>
</div>
