---
import Search from "@/components/Search.astro";
import Layout from "@/layouts/Layout.astro";
import { formatStringToArray } from "@/utils";

const { id } = Astro.params;

const res = await (
  await fetch(`${import.meta.env.BASE_API_URL}/job/${id}`)
).json();
const data = res.data;
const skills = formatStringToArray(data.skills, ",");
const job_description = formatStringToArray(data.job_description, ";");
const job_requirements = formatStringToArray(data.job_requirements, ";");
const benefits = formatStringToArray(data.benefits, ";");
const position = data.position;
const salary = data.salary;
const location = data.location;
const jobId = data.id;
const enterpriseId = data.enterpriseId;
---

<Layout title="job">
  <Search />
  <div class="mx-auto max-w-[1220px] mt-8 flex flex-col items-center">
    <div class="w-[67%] flex flex-col gap-6">
      <div class="flex flex-col gap-4 bg-[#fff] rounded p-6">
        <h1>
          {data.title}
        </h1>
        <input type="text" value={jobId} id="jobId" class="hidden" />
        <input
          type="text"
          value={enterpriseId}
          id="enterpriseId"
          class="hidden"
        />
        <div class="flex items-center gap-2">
          <div class="badge badge-primary p-3">{position}</div>
          <div class="badge badge-secondary p-3">{salary}</div>
          <div class="badge badge-accent p-3">{location}</div>
        </div>
        <div class="badge">Hạn nộp hồ sơ: {data.deadline_date}</div>
        <button
          class="btn btn-primary"
          id="btn-apply"
          onclick="my_modal_1.showModal()">Apply Now</button
        >
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Chọn file để ứng tuyển!</h3>
            <input
              type="file"
              class="file-input file-input-bordered w-full max-w-xs mt-5"
              id="cv"
            />
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-primary" type="submit" id="apply-cv"
                  >Apply</button
                >
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
      <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Skills</h2>
          <hr class="border" />
          <div class="flex gap-2 mt-2">
            {
              skills?.map((item: string) => (
                <div class="badge badge-neutral p-3">{item}</div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="card card-compact bg-base-100 shadow-xl mb-6">
        <div class="card-body">
          <h2 class="card-title">Chi tiết tin tuyển dụng</h2>
          <hr class="border" />
          <h2 class="card-title">Mô tả công việc</h2>
          <div class="mt-2">
            <ul>
              {
                job_description?.map((item: string) => (
                  <li class="leading-8">{item.trim()}</li>
                ))
              }
            </ul>
          </div>
          <h2 class="card-title">Yêu cầu ứng viên</h2>
          <div class="mt-2">
            <ul>
              {
                job_requirements?.map((item: string) => (
                  <li class="leading-8"> {item.trim()}</li>
                ))
              }
            </ul>
          </div>
          <h2 class="card-title">Quyền lợi</h2>
          <div class="mt-2">
            <ul>
              {
                benefits?.map((item: string) => (
                  <li class="leading-8"> {item.trim()}</li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  const apply = document.getElementById("btn-apply");
  const apply_cv = document.getElementById("apply-cv");
  const cv = document.getElementById("cv") as HTMLInputElement;
  const jobId = document.getElementById("jobId") as HTMLInputElement;
  const enterpriseId = document.getElementById(
    "enterpriseId",
  ) as HTMLInputElement;

  const userId = window.sessionStorage.getItem("id") || "";

  if (userId == "0") {
    apply?.setAttribute("disabled", "");
  }

  apply_cv?.addEventListener("click", () => {
    if (cv.files && cv.files.length > 0) {
      const formData = new FormData();
      formData.append("jobId", jobId.value);
      formData.append("enterpriseId", enterpriseId.value);
      formData.append("userId", userId);
      formData.append("file", cv.files[0]);
      console.log(formData);
      fetch("http://localhost:3000/api/application", {
        method: "post",
        body: formData,
      })
        .then((res) => res.json())
        .then((data) => console.log(data))
        .catch((error) => console.error(error));
    } else {
      // No files selected, handle this case accordingly
      console.log("No files selected.");
    }
  });
</script>
